/* From uiverse.io by @alexruix */
.card-profile {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5rem 0;
}

.card-profile-img {
    width: 25%;
    height: 50vh;
    margin: auto;
    background: #830fff;
    background: linear-gradient(to top, #830fff 0%, #f75cff 100%);
    border-radius: 20%;
    border: 2px solid rgb(80, 124, 113) !important;
}

.card-profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    border: 2px solid rgb(80, 124, 113) !important;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50vh;
    background: #830fff;
    background: linear-gradient(to top, #830fff 0%, #f75cff 100%);
    border-radius: 20%;
    margin: auto;
    border: 2px solid rgb(80, 124, 113) !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    align-items: center;
}

/*Text*/
.title {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

.subtitle {
    font-weight: 400;
    line-height: 1em;
}


.card-info:hover {
    transition: all .5s ease-in-out !important;
    background: linear-gradient(to bottom, #830fff 30%, #f75cff 90%) !important;
    box-shadow: 0px 0px 15px 15px rgb(80, 124, 113);
}

.card-profile-img:hover {
    transition: all .5s ease-in-out;
    background: linear-gradient(to bottom, #830fff 30%, #f75cff 90%) !important;
    box-shadow: 0px 0px 15px 15px rgb(80, 124, 113);
}